h1 {
    background-color: darkmagenta;
}

th,
td {
    border: 1px solid black;
    border-collapse: collapse;

    /* remove table to delete the outer line from border */
    border-radius: 20px;

    border-color: brown;

    padding: 10px;

    /* not work when border-collapse: collapse; */
    border-spacing: 200px;
}

/* 
th,
td {
    background-color: rgb(99, 198, 231);
} */